---
import BaseLayout from '../../layouts/Layout.astro'
import Footer from '../../sections/Footer/index.astro'
import ServicePricingWithHeadline from '../../sections/copyAndContent/services/ServicePricingWithHeadline.astro'
import ServicePricingNoHeadline from '../../sections/copyAndContent/services/ServicePricingNoHeadline.astro'

import type { MDXInstance } from 'astro'
import type { CopyServiceFrontmatter } from '../../types/content'

interface Route {
  params: {
    service: string
  },
  props: {
    data: CopyServiceFrontmatter,
    service: MDXInstance<Record<string, any>>
  }
}

export async function getStaticPaths() {
  const services = await Astro.glob('../../data/copy-services/*.mdx')

  const routes: Route[] = services.map(service => {
    const frontmatter = service.frontmatter as CopyServiceFrontmatter

    return ({
    params: { service: frontmatter.slug },
    props: {
      data: frontmatter,
      service: service,
    }
  })
  })

  return routes
}

const { title, imageUrl, altTag, titleTag, formType } = Astro.props.data as CopyServiceFrontmatter
const { Content } = Astro.props.service
---

<BaseLayout title={`${title} Service Page`}>
  <div class="container">
    <ServicePricingWithHeadline 
      formType={formType}
      imageUrl={imageUrl}
      altTag={altTag}
      titleTag={titleTag}
      headline={title}
    />
    <article>
      <Content />
    </article>
    <ServicePricingNoHeadline 
      formType={formType}
      imageUrl={imageUrl}
      altTag={altTag}
      titleTag={titleTag}
    />
  </div>
  <Footer />
</BaseLayout>

<style lang="scss">
  @import "../../styles/sizes.scss";

  .container {
    padding: 80px 12px 80px 12px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 80px;
    justify-items: center;
    width: 100%;
    max-width: 800px;

    @include aboveMobile {
      padding: 120px 24px 120px 24px;
    }

    @include aboveTablet {
      padding: 80px 0 120px 0;
    }

  }

  article {
    width: 100%;

    @include aboveMobile {
      width: 660px;
    }
  }
</style>