---
import BreadcrumbBaseLink from "./BreadcrumbBaseLink.astro";
import BreadcrumbLink from "./BreadcrumbLink.astro";
import BreadcrumbLocation from "./BreadcrumbLocation.astro";
import type { Pathname } from "../../../types/blog";

interface Props {
  paths: Pathname[];
}

const { paths } = Astro.props;
---

<div class="container">
  {
    paths.map((path, i) => {
      const base = path.base;
      let pathname = "";

      const breadcrumbs = base.map((p, i) => {
        pathname = `${pathname}` + `/${p}`;

        if (i === 0) {
          return <BreadcrumbBaseLink path={pathname}>{p}</BreadcrumbBaseLink>;
        }

        return <BreadcrumbLink path={pathname}>{p}</BreadcrumbLink>;
      });

      return <>{breadcrumbs}</>;
    })
  }
  <BreadcrumbLocation>{paths[0].slug}</BreadcrumbLocation>
</div>

<style lang="scss">
  @import "../../../styles/sizes.scss";

  .container {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    width: max-content;
  }
</style>
