---
import BlogCategoryCard from '../../../components/cards/BlogCategoryCard/index.astro'
import { blogCategoryCards } from '../../../data/navigation'
---

<div class="container">
  {blogCategoryCards.map(card => {
    const { imageUrl, altTag, titleTag, category, slug } = card

    return (
      <BlogCategoryCard 
        imageUrl={imageUrl}
        altTag={altTag}
        titleTag={titleTag}
        category={category}
        slug={slug}
      />
    )
  })}
  <div class="galaxy" />
</div>

<style lang="scss">
  @import "../../../styles/sizes.scss";
  @import "../../../styles/layout.scss";

  .container {
    position: relative;
    @include baseColGrid;
    gap: 40px;

    @include aboveMobile {
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      row-gap: 40px;
    }
  }

  .galaxy {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--accent-pink);
    border-radius: 50%;
    width: 220px;
    height: 220px;
    filter: blur(160px);
    transform: translate(0, 0);
    z-index: -1;

    @include aboveTablet {
      width: 400px;
      height: 400px;
      filter: blur(260px);
    }
  }
</style>