---
import type { BlogCategory } from "../../../types/blog";

interface Props {
  imageUrl: string;
  altTag: string;
  titleTag: string;
  category: BlogCategory;
  slug: string;
}

const { imageUrl, altTag, titleTag, category, slug } = Astro.props;

const buttonLabelColor =
  category === "marketing" ? "#171717" : "var(--font-color-light)";
---

<div class="container">
  <a class="card-link" href={slug}>
    <img src={imageUrl} alt={altTag} title={titleTag} class="category-image" />
    <span class="label">{category}</span>
  </a>
  <div class="background"></div>
</div>

<style lang="scss" define:vars={{ buttonLabelColor }}>
  @import "../../../styles/sizes.scss";

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
  }

  .card-link {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: start;
    align-items: end;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    width: 100%;
    outline: none;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 12px 1px hsla(0, 0%, 0%, 0.5);
    transition: transform, box-shadow, 300ms ease-in-out;
    aspect-ratio: 30 / 17;

    &:hover {
      transform: translate(-8px, -8px);
      box-shadow: 2px 2px 12px 1px hsla(0, 0%, 0%, 0.5);
    }

    &:focus {
      transform: translate(-8px, -8px);
      outline-offset: 8px;
      outline-style: solid;
      outline-width: 3px;
      outline-color: var(--accent-pink);
    }
  }

  .label {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    padding: 0 0 12px 12px;
    font-size: 5rem;
    font-weight: 700;
    color: var(--buttonLabelColor);
    z-index: 2;

    @include aboveTablet {
      font-size: 7rem;
    }

    @include aboveIpadPro {
      font-size: 8rem;
    }
  }

  .category-image {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    z-index: 1;
  }

  .background {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background-color: var(--accent-purple);
    border-radius: 20px 20px 26px 20px;
    width: 100%;
    height: 100%;
  }
</style>
