---
import TerminalHeader from "../../typography/TerminalHeader.astro"; 
import InternalNavButton from "../../buttons/InternalNavButton.astro";

export interface Props {
  headline: string
  description: string
  buttonLabel: string
  buttonSlug: string
}

const { headline, description, buttonLabel, buttonSlug } = Astro.props as Props
---

<div class="content-container">
  <TerminalHeader cursor={false}>
    <h3>~ {headline}</h3>
  </TerminalHeader>
  <div class="description-container">
    <p>{description}</p>
    <InternalNavButton type="teal" title={headline.toLowerCase()} slug={buttonSlug} width={290}>{buttonLabel}</InternalNavButton>
  </div>
</div>

<style lang="scss">
  .content-container {
    padding: 0 12px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 30px;
    justify-items: start;

    @media (min-width: 392px) {
      padding: 0 20px;
    }
  }

  h3 {
    font-size: 2.6rem;
    font-weight: 800;
    color: var(--font-color-light);
  }

  .description-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 20px;
    justify-items: end;
    width: 100%;

    @media (min-width: 392px) {
      gap: 40px;
    }
  }

  p {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--font-color-light);
  }
</style>