---
import Image from "./Image.astro";
import Content from "./Content.astro";

interface Props {
  imageUrl: string
  altTag: string
  titleTag: string
  cardTeaser: string
  buttonLabel: string
  slug: string
}

const { imageUrl, altTag, titleTag, cardTeaser, buttonLabel, slug } = Astro.props
---

<div class="container">
  <Image 
    imageUrl={imageUrl}
    altTag={altTag}
    titleTag={titleTag}
    slug={slug}
  />
  <Content
    description={cardTeaser}
    buttonLabel={buttonLabel}
    slug={slug}
  />
</div>

<style lang="scss">
  @import "../../../styles/sizes.scss";

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 40px;
    width: 100%;
    max-width: 400px;
  }
</style>